@import url('https://fonts.cdnfonts.com/css/first-reign-personal-use-only');
/* @import url('https://fonts.cdnfonts.com/css/lato'); */

@font-face { 
    font-family: "LatoRegular";
    src: url("../Fonts/LatoRegular/LatoRegular.ttf") ;
}

@font-face { 
    font-family: "LatoLight";
    src: url("../fonts/LatoLight/LatoLight.ttf") ;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: black;
    color: white;
    margin: 0px;  
}

header {
    width: 100%;
    /* background-color: black; */
    color: white;
}

header hr {
    border: none; 
  background-color: #B00202; 
  height: 1px;
  width: 90%;
  margin: 20px 5% 0 5%;
  opacity: 0.8;
}

#navbar {
    display: flex;
    margin-top: 1%;
}


#navbar ul {
    margin-right: 150px;
}

#navbar ul li{
    /* border: 1px solid white; */
    display: inline;
    margin: 0 25px;
}

#navbar ul li a{
    text-decoration: none;
    color: white;
    font-family: 'LatoLight';
    
}

#navbar ul li a:hover{
    color: #B00202;
    
}


#navbar #logo {
    width: 3%;
    margin-left: 180px;
    /* border: 1px solid; */
}

#navbar #logo img {
    width: 100%;
    opacity: 0.8;
}

h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 1%;
    font-family: 'First Reign PERSONAL USE ONLY', sans-serif;
    font-weight: normal;
}

.character {
    display: flex;
    /* flex-wrap: wrap; */
}

.character > * {
    width: 50%;
    margin-top: 5%;
}

.character div img{
    width: 50%;
    margin: 0 0 8% 35%;
}

h2 {
    font-family: 'LatoRegular';
}

.character .about_character p {
    width: 60%;
    margin-top: 2%;
    font-size: 16px;
    line-height: 1.5; 
    font-family: 'LatoRegular';
    
}

/* h2::after {
    content: '';
    display: inline-block;
    border: 6px solid transparent;
    border-left-color: #fff;
    margin-left: 7px;
} */

main hr {
    border: none; 
    background-color: white; 
    height: 1px;
    width: 80%;
    margin: 0 10%;
    opacity: 0.5;
}

/* main hr::after {
    content: '';
    display: inline-block;
    border: 6px solid transparent;
    border-left-color: #fff;
    margin-left: 7px;
}

main hr::before {
    content: '▶';
    display: inline-block;
    color: white;
} */


#up_button {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    right: 50px;
    bottom: 50px;
  
    cursor: pointer;
  
  }
  
  #up_button img{
    width: 100%;
  }