@import url('https://fonts.cdnfonts.com/css/first-reign-personal-use-only');


@font-face { 
    font-family: "LatoRegular";
    src: url("../Fonts/LatoRegular/LatoRegular.ttf") ;
}

@font-face { 
  font-family: "LatoLight";
  src: url("../fonts/LatoLight/LatoLight.ttf") ;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
  margin: 0px;  
}

header {
  width: 100%;
  /* background-color: black; */
}

header hr {
  border: none; 
  background-color: #B00202; 
  height: 1px;
  width: 90%;
  margin: 20px 5% 0 5%;
  opacity: 0.8;
}

#navbar {
  display: flex;
  margin-top: 1%;
}


#navbar ul {
  margin-right: 150px;
}

#navbar ul li{
  /* border: 1px solid white; */
  display: inline;
  margin: 0 25px;
}

#navbar ul li a{
  text-decoration: none;
  color: white;
  font-family: 'LatoLight';
  
}

#navbar ul li a:hover{
  color: #B00202;
  
}


#navbar #logo {
  width: 3%;
  margin-left: 180px;
  /* border: 1px solid; */
}

#navbar #logo img {
  width: 100%;
  opacity: 0.8;
}


h1 {
  font-size: 80px;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: normal;
  font-family: 'First Reign PERSONAL USE ONLY', sans-serif;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    font-family: 'LatoRegular';
    text-align: center;
}

main hr {
    border: none; 
    background-color: white; 
    height: 1px;
    width: 80%;
    margin: 5% 10%;
    opacity: 0.5;
}



.question-container {
    width: 50%;
    margin: 0 550px;
  }

  .question {
    margin-bottom: 10px;
  }



  .question p {
    font-size: 20px;
    font-family: 'LatoRegular';

  }

  .answers {
    display: flex;
    flex-direction: column;
    font-family: 'LatoRegular';
    font-size: 16px;
  }

  .answer {    
    cursor: pointer;
    width: 300px;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px 0 10px 20px;
    margin-bottom: 15px;
  }
 

  #result {
    font-family: 'LatoRegular';
    font-size: 16px;
  }

  button {
    padding: 10px;
    background-color: black ;
    color: #fff;
    border: none;
    cursor: pointer;
    display: block;
    font-family: 'LatoRegular';
    font-size: 16px;
    
    width: 150px;
    text-align: left;
  }

  #question2, #question3, #question4, #question5, #question6 {
      display: none;
  }

  input[type=radio] {
  display: none;
}

h3 {
    color:#B00202;
    font-size: 32px;
    font-family: 'LatoRegular';

}

.wrong {
  animation: wrong 0.5s;
}

@keyframes wrong {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-5px);
  }
  40%, 80% {
    transform: translateX(5px);
  }
}

.right {
  animation: right 0.5s;
}

@keyframes right {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}




#up_button {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    right: 50px;
    bottom: 50px;
  
    cursor: pointer;
  
  }
  
  #up_button img{
    width: 100%;
  }